* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	text-decoration: none;
}

body {
	background-color: #f1e8e87e;
}

.main {
	max-width: 960px;
	min-width: 360px;
	min-height: 800px;
	margin: 0 auto;
	padding-top: 24px;
	background-color: #ffff;
	overflow: hidden;
	position: relative;
}

.main__title {
	width: 289px;
	margin-bottom: 20px;
	margin-left: calc(50% - 144.5px);

	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;

	text-align: center;
}

.main__title > span {
	text-decoration: line-through;
}

.main__logo {
	width: 116px;
	aspect-ratio: 1/1;
	margin-left: calc(50% - 55.5px);
	margin-bottom: 19px;

	/* cursor: pointer; */
	border-radius: 19px;
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	-ms-border-radius: 19px;
	-o-border-radius: 19px;

	box-shadow: -3px 3px 8px #5a5959b6;
}

.statistic {
	width: 298px;
	margin: 0 auto;
	margin-bottom: 19px;

	display: flex;
	justify-content: space-between;
}

.statistic__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
}

.statistic__item > h3 {
	font-size: 20px;
	font-weight: 700;
}

.statistic__item > p {
	font-size: 12px;
	font-weight: 700;
}

.install-btn {
	width: 248px;
	margin: 0 auto;
	margin-bottom: 38px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #01875f;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;

	color: #ffff;
	font-size: 15px;
	font-weight: 700;
	line-height: 37px;
	box-shadow: -3px 3px 8px #5a5959b6;

	animation: colorBtn 3s infinite;
	-webkit-animation: colorBtn 3s infinite;
}

.install-btn-disable {
	cursor: not-allowed;
	pointer-events: none;
	background-color: #878787;
	animation: none;
	-webkit-animation: none;
}

@keyframes colorBtn {
	0% {
		background-color: #01875f;
	}
	25% {
		background-color: #6e8701;
	}
	50% {
		background-color: #874801;
	}
	75% {
		background-color: #2a36dd;
	}
}

.card-block {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;

	display: flex;
	justify-content: center;
	gap: 10%;
}

.card-block__item {
	width: 109px;
	overflow: hidden;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	animation: imgMoves 3s infinite;
	-webkit-animation: imgMoves 3s infinite;
}

@keyframes imgMoves {
	0% {
		transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
	}
	33% {
		transform: rotateY(15deg);
		-webkit-transform: rotateY(15deg);
		-moz-transform: rotateY(15deg);
		-ms-transform: rotateY(15deg);
		-o-transform: rotateY(15deg);
	}
	66% {
		transform: rotateY(-15deg);
		-webkit-transform: rotateY(-15deg);
		-moz-transform: rotateY(-15deg);
		-ms-transform: rotateY(-15deg);
		-o-transform: rotateY(-15deg);
	}
	100% {
		transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
	}
}

.card-block__item > img {
	width: 100%;
	height: 100%;

	object-fit: contain;
}

.about__title {
	width: 200px;
	margin-left: calc(50% - 100px);
	margin-bottom: 4px;

	font-size: 15px;
	font-weight: 700;
	color: #121212;
}

.about__text {
	width: 290px;
	margin-left: calc(50% - 144.5px);
	margin-bottom: 20px;

	font-size: 12px;
	font-weight: 400;

	word-wrap: break-word;
}

.access {
	text-align: center;
	margin-bottom: 31px;

	font-size: 15px;
	font-weight: 900;
	text-transform: uppercase;
	color: #da1010;
	text-shadow: 0px 0px 6px #da1010;
	animation: access 3s infinite;
	-webkit-animation: access 0.5s infinite;
}

@keyframes access {
	0% {
		text-shadow: 0px 0px 6px #da1010;
	}
	50% {
		text-shadow: 0px 0px 12px #da1010;
	}
	100% {
		text-shadow: 0px 0px 6px #da1010;
	}
}

.timer {
	text-align: center;
	margin-bottom: 20px;

	font-size: 32px;
	font-weight: 900;
	color: #000;
}

.timer-end {
	text-transform: uppercase;

	color: #f80606;
	text-shadow: 0px 0px 6px #da1010;
	animation: access 3s infinite;
	-webkit-animation: access 0.5s infinite;
}

/* Manual pages */

.main-manual {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	
	background-color: #000;
	color: #ffff;
	text-align: center;
}

.manual__title {
	font-size: 24px;
	font-weight: 900;
	margin-bottom: 12px;
	text-transform: uppercase;
}

.manual__title-small {
	font-size: 22px;
}

.instruction {
	width: 90%;
	min-width: 328px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 12px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #0066ff;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.instruction__text {
	font-size: 30px;
	font-weight: 700;
}

.manual__block {
	width: 85%;
	margin: 0 auto;
	margin-bottom: 12px;

	display: flex;
	justify-content: center;
	gap: 15%;
}

.manual__block-small {
	gap: 16%;
	margin-bottom: 19px;
}

.manual__item {
	width: 85px;
	height: 150px;

	cursor: pointer;
	background-color: #878787;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}


.manual__item > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	filter: blur(5px) sepia(90%);
	-webkit-filter: blur(5px) sepia(90%);
}

.manual__item-small {
	width: 75px;
	height: 131px;
}

.step-one,
.step-two,
.step-three {
	opacity: 1;
}

.step-one {
	animation: visibilityAppearance 6s;
	-webkit-animation: visibilityAppearance 6s;
}

.step-two {
	animation: visibilityAppearance 9s;
	-webkit-animation: visibilityAppearance 9s;
}

.step-three {
	animation: visibilityAppearance 12s;
	-webkit-animation: visibilityAppearance 12s;
}

@keyframes visibilityAppearance {
	0% {opacity: 0;}
	100% {opacity: 1;}
}